bin/
OpenGL/src/Game/
OpenGL/src/vendor/include/
OpenGL/src/vendor/imgui/misc
OpenGL/src/vendor/imgui/examples
OpenGL/src/vendor/imgui/.github
OpenGL/src/vendor/imgui/backends
OpenGL/src/vendor/imgui/docs
.idea/
.vs/
out/
cmake-build-debug-visual-studio/
cmake-build-release-visual-studio/